<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Goods" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={AppDir}\ELibraryProject\Databases\Goods.mdf;Integrated Security=True" providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>